
body {
    background-repeat: no-repeat;
    background-image: url("energy2.jpg");  
    background-size: cover;  
  }  

  .m-btn{
    border: 2px solid blueviolet;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  
  }

  h1{
    margin-top: 0;
    text-align: center;
    color: white;
    font-weight: 100;
    box-sizing: border-box;
    padding: 20px;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;

}
h5{
    text-transform: uppercase;
      color: rgb(247, 243, 35);
      text-align: center;
      box-shadow: 0 14px 28px rgba(221, 250, 2, 0.956), 0 10px 10px rgba(0, 0, 0, 0.22);
      border: 2px solid rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      height: 30px;
      font-size: 2rem;
      font-weight: bold;
  }

  .btn{
    padding:10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
  }
  .btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
  }
